<div id="banner">
  <div id="homeKnitly">
    <h1>Knitly!</h1>
  </div>
  <div id="llamaWrap">
    <%= image_tag "knitlythellamabig.png" %>
  </div>
</div>
<div id="homeButtons">
  <div class="homeButtonsBox">
    <button class="green-sea-flat-button"><%= link_to "Log In", welcome_url %></button>
  </div>
  <div class="homeButtonsBox">
    <button class="green-sea-flat-button"><%= link_to "Sign Up", signup_url %></button>
  </div>
</div>
