/*nav .button {
      border: 0;
      background: #3498db;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      font-size: 0.75em;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
    }
    nav .button:hover {
      background: #e88a37;
      color: white;
    }
    nav .button:active {
      -webkit-box-shadow: 0px 4px 0px #a74d46;
      -moz-box-shadow: 0px 4px 0px #a74d46;
      box-shadow: 0px 4px 0px #a74d46;
      background: #e78129;
    }              

.logo {
	font-family: a;
	font-size: 0px;
	line-height: 0px;
	color: transparent;
	background-color: transparent;
	border: 0px;
	display: block;
	width: 260px;
	height: 88px;
	position: relative;
	top: -19px;
}
*/