/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% auto 1% auto;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
          
/*  GRID OF EIGHT  */
.span_8_of_8 {
  width: 100%;
}

.span_7_of_8 {
    width: 87.12%;
}

.span_6_of_8 {
    width: 74.25%;
}

.span_5_of_8 {
    width: 61.37%;
}

.span_4_of_8 {
    width: 48.5%;
}

.span_3_of_8 {
    width: 35.62%;
}

.span_2_of_8 {
    width: 22.75%;
}

.span_1_of_8 {
    width: 9.875%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_8_of_8 {
    width: 100%; 
  }
  .span_7_of_8 {
    width: 100%; 
  }
  .span_6_of_8 {
    width: 100%; 
  }
  .span_5_of_8 {
    width: 100%; 
  }
  .span_4_of_8 {
    width: 100%; 
  }
  .span_3_of_8 {
    width: 100%; 
  }
  .span_2_of_8 {
    width: 100%; 
  }
  .span_1_of_8 {
    width: 100%;
  }
}

/* global styles */

body {
  background-color: #ecf0f1;
}

h1 {
  font-family: 'Gabriela', serif;
  color: #34495e;
  font-size: 40px;
  margin: 1px auto 10px auto;
}

h3 {
  font-family: 'Gabriela', serif;
  color: #34495e;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

p {
  font-family: 'Varela Round', sans-serif;
}

strong {
  color: #34495e;
}

/* menu styles */

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Varela Round', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  zoom: 1;
  height: 69px;
  background: #395066;
  border-radius: 2px;
  width: auto;
  margin-bottom: 0px;
}

#cssmenu ul {
  background: #395066;
  height: 69px;
}
#cssmenu ul li {
  float: right;
  list-style: none;
}
#cssmenu ul li a {
  display: block;
  height: 37px;
  padding: 22px 30px 0;
  margin: 4px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}

#logollama {
  height: auto;
  z-index: 999;
  margin-left: 15px;
  margin-top: 2px;
  max-width: 100%;
  float: left;
}

