.field {
  margin: 5px;
}

.loginbtn {
  margin-top: 5px;
}

.formFrame {
  margin-top: 10%;
  margin-right: 20%;
}

#loginForm {
  width: 30%;
  float: right;
}

.formFrameNew {
  margin-top: 10%;
  margin-left: 20%;
}


.loginllama {
  position: fixed;
  bottom: 0px;
  float: left;
}

.newuserllama {
  position: fixed;
  bottom: 0px;
  margin-left: 55%;
}