

.field {
  margin: 5px;
}

.loginKnitly h1 {
  font-family: 'Short Stack', cursive;
  color: #34495e;
  font-size: 25px;
  padding-bottom: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.loginbtn {
  margin-top: 5px;
}

.Center-Container {
  position: relative;
}

.container {
  background-color: #ecf0f1;
  border-radius: 5px;
  border: 5px solid #3498db;
  height: 45%;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0; 
  padding: 5px;
}

.container.is-Fixed {
  position: fixed;
  z-index: 999;
}

.loginllama {
  float: left;
  margin: 0px;
  padding: 0px;
}

.newuserllama {
  float: right;
  margin: 0px;
  padding: 0px;
}