/* page styling */

#banner {
  background-color: #3498db;
  text-align: center;
  min-height: 250px;
  margin-top: 0px;
}

/* image stying */

#llamaWrap {
  width: 300px;
  padding-top: 13px;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  max-width: 100%;
}

#llamaWrap img {
  position: absolute;
  top: 0;
  left: 0;
}
